<!DOCTYPE html>
<html>
<head>

		
  <title>DAVOR SVILAR HOME</title>
</head>


	<body>
<h1 style="text-align: center;">Svilar Davor info</h1>
<div style="text-align: center;">
	<a href="http://users.beotel.net/%7Esvilar/"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/v/t1.0-1/p50x50/10492516_10200194186894311_3497467007570671044_n.jpg?oh=b4b20797bd4ed7119453381d98b74a27&amp;oe=5663FDE2&amp;__gda__=1449998942_7e86788f0cbfc3f9347b1b5d7deda93e"></a>
		</div>
<p style="text-align: center;">born in Serbia, Belgrade</p>
<div style="text-align: center;">
		<img style="width: 800px; height: 483px;" alt="funduro" src="https://v63vnq.bl3302.livefilestore.com/y3pR-3CJA9Bvch2zdpbRljv5Si983NzNcW064sOFoc2BXTfPnNfyypTye9h1hlfLutX28s25Uzuv1PPYBbxJNuuW7nh9qodcVISqU_2yIeua7Yr7O6GOnAKKEg0cQL8APuvCZX2AtG6DfQoeoh5bb0amg/20140627_192823_resized.jpg?psid=1"></div>
<p style="text-align: center;">on a 13.09.1974</p>
<p style="text-align: center;">a husband, a father of two, twins</p>
<div style="text-align: center;">
		<a href="http://users.beotel.net/%7Esvilar/">Click the link to go to my web page</a></div>

	
</body>
</html>
