<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Davor Svilar first Flask example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" rel="stylesheet">
</title>
</head>




<div class="row text-center"><a class="btn btn btn-info btn-lg btn-block" href="https://www.facebook.com/davor.svilar" role="button"><h3>Hi there how are you doing Davor ???</h3></a>

<div class="row text-center"><a class="btn btn btn-success btn-lg btn-block" href="https://www.facebook.com/davor.svilar" role="button">Go to FCB profile</a>
<button class="btn btn-default" type="submit">Button</button>
  <h5>Davor Svilar first Flask example</h5>
<input class="btn btn-default" type="button" value="Input">
<input class="btn btn-default" type="submit" value="Submit">


<div class="row text-center"><a class type="button" class="btn btn-primary btn-lg btn-block" href="https://www.facebook.com/davor.svilar">Go to FCB profile</a>
<div class="row text-center"><button type="button" class="btn btn btn-success btn-lg btn-block" role="button">Go to Davor Svilar profile</button>

<div class="row text-center">
  <img img src="https://bl3302files.storage.live.com/y3pJOHt0r3-4qJ7Z8edJySyfsjXzc0s4waIVq2CmrgxDovbIFS23USOk9eQM_XKrKKWHggAOwxBkowrhg9y8IHB2VIIVK-vg6laAA_zQ1ae02064r91pDz_b9I7fLOBN9rErEpPSkF99yJdXl2LENi2Tg/20151118_141316-001.jpg?psid=1&width=320&height=193&cropMode=center" alt="..." class="img-circle">

</html>