<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>MAIN PROGRAMM</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/full-slider.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<head>
    <meta charset="UTF-8">
    <title>Incorretect sorry</title>
</head>
<body>
    <h2 ALIGN=CENTER>INCORRECT, NO CIGAR FOR YOU :-) !!!</h2>
    <div ALIGN=CENTER>The answer is : {{ answer }} </div>
    <div ALIGN=CENTER>Your answer was : {{ submittedAnswer }}</div>
</body>
</html>