<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Two Funduro Riders</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon_orange.ico') }}">
</head>


<header>
 	<div class="navbar-header">
    <a class="navbar-brand" rel="home" href="/" title="Python Programming Tutorials ">
        <img class="img-responsive" style="width:40px; height;40px; margin-top: -10px;" src="/static/images/mainlogo.png">
    </a>
  	</div>

	<ul class="nav nav-pills" role="tablist">
		<a href="/page1"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px">
		  <span class="glyphicon glyphicon-share" aria-hidden="true"></span> Please Enter
		</button></a>
	</ul>
	
</header>













</html>

