<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Funduro BMW F650</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/full-slider.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='bmwfavicon.ico') }}">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
</br>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Start the Journey</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/page1">Pictures Gallery</a>
                    </li>
                    <li>
                        <a href="/page2">Video Galley</a>
                    </li>
                    <li>
                        <a href="/page3">About us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Pictures thumbnail gallery</h1>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://v63vnq.bl3302.livefilestore.com/y3poMX-4-RC6Pq8PAwD3QbH5JagxfzDvNJ35uCPJPS7hXONBgZkwhwpBgUDq5GlxkE4tlnNfyXuL1daQ-hap1VBpLyQoC4IN9lPyppxUMQ1nKCknpQ7DGoBPuz73qtZ7jpylFNHbsS2uz5Jt5--E_a1ww/Untitled16.png?psid=1">
                    <img class="img-responsive" src="https://v63vnq.bl3302.livefilestore.com/y3poMX-4-RC6Pq8PAwD3QbH5JagxfzDvNJ35uCPJPS7hXONBgZkwhwpBgUDq5GlxkE4tlnNfyXuL1daQ-hap1VBpLyQoC4IN9lPyppxUMQ1nKCknpQ7DGoBPuz73qtZ7jpylFNHbsS2uz5Jt5--E_a1ww/Untitled16.png?psid=1" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://v63vnq.bl3302.livefilestore.com/y3pTn8pdqsCVtrpzfcpJvLmtS22iJeaTITlXkk2Xf6V5kYyR3vOCyvASE_0RLxxgJGAUvfCRtrMJ2TmLeJLdLV_EeNsyOXj0GSoXLVgbzFDAIaDpzSPJ_ceBWKwR4Mc0Sssd_pTxH96KU1O08iAZlWXVf_ANTLgCxm4SDXx19xX5e4/20150221_140813.jpg?psid=1">
                    <img class="img-responsive" src="https://v63vnq.bl3302.livefilestore.com/y3pTn8pdqsCVtrpzfcpJvLmtS22iJeaTITlXkk2Xf6V5kYyR3vOCyvASE_0RLxxgJGAUvfCRtrMJ2TmLeJLdLV_EeNsyOXj0GSoXLVgbzFDAIaDpzSPJ_ceBWKwR4Mc0Sssd_pTxH96KU1O08iAZlWXVf_ANTLgCxm4SDXx19xX5e4/20150221_140813.jpg?psid=1" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://v63vnq.bl3302.livefilestore.com/y3pJ-oNunAhQtti2YBYIxvYB8WIRgHqfTqgYreGUpba85BH2C32GZx-mkR21u-hfNiPIs1ARw3GkIC3DBcQaokQJ7ipU1SSkfZ5V9qxSCS6hCZSBE3RLONqwGdPH8bn9-XuOS-ADJE5CRDrzpGr8E03_A/Untitled13.png?psid=1">
                    <img class="img-responsive" src="https://v63vnq.bl3302.livefilestore.com/y3pJ-oNunAhQtti2YBYIxvYB8WIRgHqfTqgYreGUpba85BH2C32GZx-mkR21u-hfNiPIs1ARw3GkIC3DBcQaokQJ7ipU1SSkfZ5V9qxSCS6hCZSBE3RLONqwGdPH8bn9-XuOS-ADJE5CRDrzpGr8E03_A/Untitled13.png?psid=1" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://v63vnq.bl3302.livefilestore.com/y3pM0YLA4KGgA_PWkH2HpChWBPqnlunNVrbt7AzHM2Q3JjNQkV888gtfoIAJE1JJxqiapJGL4a-Ib2Maw9_uoaTh8Q6hM3Xw1KDonpRyf3wzVTHLfhZEB9F43rpEuHi97JPn_FJ9F5kOZfukyz4rmieZ2Yjy54d_wY1fn8uHXu4_eM/20150221_152409.jpg?psid=1">
                    <img class="img-responsive" src="https://v63vnq.bl3302.livefilestore.com/y3pM0YLA4KGgA_PWkH2HpChWBPqnlunNVrbt7AzHM2Q3JjNQkV888gtfoIAJE1JJxqiapJGL4a-Ib2Maw9_uoaTh8Q6hM3Xw1KDonpRyf3wzVTHLfhZEB9F43rpEuHi97JPn_FJ9F5kOZfukyz4rmieZ2Yjy54d_wY1fn8uHXu4_eM/20150221_152409.jpg?psid=1" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://v63vnq.bl3302.livefilestore.com/y3p_NCwCSyNqj5gsLw4eWduXeokW9NdOn6Hnhc-b2v6vyVrgAPnYEe839JUVDFpJGVMvu3QplafoG0c7iD9bIOTWKAzKYRWaaLnFtCjnJIpE7I8C5JWuui7DxD1Gb-0SIexTptPfZLnr62FAM77b7yBZw/Untitled3.png?psid=1">
                    <img class="img-responsive" src="https://v63vnq.bl3302.livefilestore.com/y3p_NCwCSyNqj5gsLw4eWduXeokW9NdOn6Hnhc-b2v6vyVrgAPnYEe839JUVDFpJGVMvu3QplafoG0c7iD9bIOTWKAzKYRWaaLnFtCjnJIpE7I8C5JWuui7DxD1Gb-0SIexTptPfZLnr62FAM77b7yBZw/Untitled3.png?psid=1" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://v63vnq.bl3302.livefilestore.com/y3p1dMQz1AQyrfm0NuO7XEYjC0AdHdy5lNC78jjAzNnbwWkoI1MqSsv8hsE1rM190s2fmqWaeX6pT81DpFHqE3YD1Af_w5fN6OPDedrfXOwEnpdedfGrkyGWrUx-AG1k48Oj7yOZ3lTiVsInSINPQmVPw/Untitled.jpg?psid=1">
                    <img class="img-responsive" src="https://v63vnq.bl3302.livefilestore.com/y3p1dMQz1AQyrfm0NuO7XEYjC0AdHdy5lNC78jjAzNnbwWkoI1MqSsv8hsE1rM190s2fmqWaeX6pT81DpFHqE3YD1Af_w5fN6OPDedrfXOwEnpdedfGrkyGWrUx-AG1k48Oj7yOZ3lTiVsInSINPQmVPw/Untitled.jpg?psid=1" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://v63vnq.bl3302.livefilestore.com/y3pS8is04JpOz1J4YduJwSMtY2EdOv7ANx_EerY0ErldT2anfmTp_43xZfRl-PFyKC7C-w4gsr6aSsQJ3aTnEzUBMnZOHIpEcJuLzKr6In_-sR2FmM-GcsAZkF-7SHC-VnA1sTa0QfqVWdD5L5hKhWqnU8VbENUtXrM4aQyuGSBI6s/sendwich.png?psid=1">
                    <img class="img-responsive" src="https://v63vnq.bl3302.livefilestore.com/y3pS8is04JpOz1J4YduJwSMtY2EdOv7ANx_EerY0ErldT2anfmTp_43xZfRl-PFyKC7C-w4gsr6aSsQJ3aTnEzUBMnZOHIpEcJuLzKr6In_-sR2FmM-GcsAZkF-7SHC-VnA1sTa0QfqVWdD5L5hKhWqnU8VbENUtXrM4aQyuGSBI6s/sendwich.png?psid=1" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://v63vnq.bl3302.livefilestore.com/y3puVGrA8F6tSOsrPlfT51sz4PqC2d-wTJMAp-8woFzAE6VXI7BObB-ZDB41dlTJWNGdEfU0kz1FDOGfsUS385XxzExoHlWQYcGvibcGXKSTltKS7aWOQhvFoohwGLsoKRWLQQxi1etUmBP9jQid_-Cnw/sv650%202.jpg?psid=1">
                    <img class="img-responsive" src="https://v63vnq.bl3302.livefilestore.com/y3puVGrA8F6tSOsrPlfT51sz4PqC2d-wTJMAp-8woFzAE6VXI7BObB-ZDB41dlTJWNGdEfU0kz1FDOGfsUS385XxzExoHlWQYcGvibcGXKSTltKS7aWOQhvFoohwGLsoKRWLQQxi1etUmBP9jQid_-Cnw/sv650%202.jpg?psid=1" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://v63vnq.bl3302.livefilestore.com/y3pdgYlK5R4rRbxTkyILBPkNeCYBH_4JCDoy68q1_MWIjk8COf_GOK3fsPS0FicZSWwZ4OWQ6vYcRKDZSK5UgUXIwyHJ6S0BDvqhiC9ksKtksnw1GgEfDfR9PeeG6_yGEPjQHWb2pW3aKW3nUW45mIi_mtNOVmeUNwn1Dev55sfrw0/20150221_152027.jpg?psid=1">
                    <img class="img-responsive" src="https://v63vnq.bl3302.livefilestore.com/y3pdgYlK5R4rRbxTkyILBPkNeCYBH_4JCDoy68q1_MWIjk8COf_GOK3fsPS0FicZSWwZ4OWQ6vYcRKDZSK5UgUXIwyHJ6S0BDvqhiC9ksKtksnw1GgEfDfR9PeeG6_yGEPjQHWb2pW3aKW3nUW45mIi_mtNOVmeUNwn1Dev55sfrw0/20150221_152027.jpg?psid=1" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://v63vnq.bl3302.livefilestore.com/y3pZwl_zDuYjQg32Z8XgRUggI50ohgmrabASV-pgltPvRbLdch-Cxd4Iv1OSWu3Yomxgd9Vrg1iSLMUZRzJwNPuW-gK64Q4mXiUMZ1y_A7kByjILTnxZTHsIHj7CrxlO_IGriThGEaGA9cvhxIWTHOMmoCQRw34w-gqQsopP5EPjSQ/20150221_142635.jpg?psid=1">
                    <img class="img-responsive" src="https://v63vnq.bl3302.livefilestore.com/y3pZwl_zDuYjQg32Z8XgRUggI50ohgmrabASV-pgltPvRbLdch-Cxd4Iv1OSWu3Yomxgd9Vrg1iSLMUZRzJwNPuW-gK64Q4mXiUMZ1y_A7kByjILTnxZTHsIHj7CrxlO_IGriThGEaGA9cvhxIWTHOMmoCQRw34w-gqQsopP5EPjSQ/20150221_142635.jpg?psid=1" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://v63vnq.bl3302.livefilestore.com/y3pBkOJ7wJnVQ955eWj3SzbtkH1W26_1Yqr6RMpH-0wFBpDFYzDwbq-x0CVfBvctbDrMgSzSfdgrDVYUglsmDPdAnds7KApbK2GVXI-HOE93aHhMriQSInpv9-MivqnZKdn4apkInSAvZUJx9bqREj4qw/Untitled15.png?psid=1">
                    <img class="img-responsive" src="https://v63vnq.bl3302.livefilestore.com/y3pBkOJ7wJnVQ955eWj3SzbtkH1W26_1Yqr6RMpH-0wFBpDFYzDwbq-x0CVfBvctbDrMgSzSfdgrDVYUglsmDPdAnds7KApbK2GVXI-HOE93aHhMriQSInpv9-MivqnZKdn4apkInSAvZUJx9bqREj4qw/Untitled15.png?psid=1" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="https://v63vnq.bl3302.livefilestore.com/y3p7WrPEVObH34yr2UsnqnK2qrPPJphX7KHMjTZQSHP9CBD2Zruihm01K6yRtjy9FqtJ-guvAtgDH8BmNXJUmj0ONFs3-d5Ymq9qjSXTYb5-DzRmgqFo14HD7fNH9VIEGOboUplT6VS7yihWzrgPWkMJuzhwooOkQcbRUgJTKHfc9c/20150221_140944.jpg?psid=1">
                    <img class="img-responsive" src="https://v63vnq.bl3302.livefilestore.com/y3p7WrPEVObH34yr2UsnqnK2qrPPJphX7KHMjTZQSHP9CBD2Zruihm01K6yRtjy9FqtJ-guvAtgDH8BmNXJUmj0ONFs3-d5Ymq9qjSXTYb5-DzRmgqFo14HD7fNH9VIEGOboUplT6VS7yihWzrgPWkMJuzhwooOkQcbRUgJTKHfc9c/20150221_140944.jpg?psid=1" alt="">
                </a>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p><h3>This is a web story about two Funduros. One of the funduros belongs to tall, dark and handsome PYTHON apprentice, while the other one is owned by true blooded JAVA master. This story began 3 years ago, and we are here to show you how this story is developing ever since. This story is about passion for riding, it's about friendship, love for the open space, riding for finding good restaurants, wind in your hair, twisting the throttle, off-road experiences, etc...</h3>></p>
                </div>
            </div>
        </footer>

    </div>

     <div class="container">
            <div class="row">
                <div class="col-sm-8">Copyright &copy; Svilar Davor Flask Bootstrap web site 2015</div>
                <div class="col-sm-8">
                   <iframe width="600" height="338" src="http://www.youtube.com/embed/KgMt0dtr4Vc" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>