<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

  <meta charset="utf-8">
  <title>Holistic, salon za masa&#382;u</title>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="keywords" content="holisti&#269;ka masa&#382;a, relaks masa&#382;a, terapeutska masa&#382;a, epilacija">

  <meta name="description" content="Jedinstveno iskustvo masa&#382;e projektovane prema potrebi svakog klijenta ponaosob.">

  <meta name="author" content="Holistic">

<!-- Facebook Specific Metas
================================================== -->
  <meta property="og:url" content="http://www.holistickamasaza.com/">

  <meta property="og:type" content="website">

  <meta property="og:title" content="Holistic, salon za masa&#382;u">

  <meta property="og:description" content="Jedinstveno iskustvo masa&#382;e projektovane prema potrebi svakog klijenta ponaosob. Hroni&#269;an umor? Iscrpljenost? Akutni bolovi? Posetite nas i zaboravite na tegobe.">

  <meta property="og:image" content="http://www.holistickamasaza.com/images/logo.png">

  <meta property="fb:app_id" content="186712725002128">

<!-- Mobile Specific Metas
================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">

  <link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css" media="screen">

  <link rel="stylesheet" href="css/layout.css" type="text/css" media="screen">

  <link rel="stylesheet" href="css/supersized.css" type="text/css" media="screen">

  <link rel="stylesheet" href="css/colorbox.css" type="text/css" media="screen">

<!-- Favicons
================================================== -->
  <link rel="shortcut icon" href="#">

</head>
<body>

<script>
window.fbAsyncInit = function() {
FB.init({
appId : '186712725002128',
xfbml : true,
version : 'v2.5'
});
};
(function(d, s, id){
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) {return;}
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<!-- Primary Page Layout
================================================== -->
<div class="slide">
<div class="container">
<div class="row">
<header class="span4 offset8 text-right">
</header>
<div class="logo">
<p></p>

<a href="http://www.holistickamasaza.com/"><img src="images/logo.png"></a>
</div>


</div>

<div class="row">
<div class="span6 offset6 text-right">
<div class="description">
<h3>Hvala na poseti, radovi na novom sajtu su jo&scaron; uvek u toku.</h3>

</div>

</div>

</div>

<div class="row">
<div class="span6 offset6 text-right">
<div class="word">
<p>Jedinstveno iskustvo masa&#382;e projektovane prema potrebi svakog klijenta ponaosob. <br>
Hroni&#269;an umor? Iscrpljenost? Akutni bolovi?</p>
<p>Posetite nas i zaboravite na tegobe.</p>

</div>

</div>

</div>

<div class="row">
<div class="span2 offset10">
<div class="socmed">
<!--<div class="twitter"><a href="#">Twitter</a></div>-->
<div class="facebook"><a href="https://www.facebook.com/StudioHolistic/" target="_blank">Facebook</a></div>

<!--<div class="tumblr"><a href="#">Tumblr</a></div>
<div class="dribbble"><a href="#">Dribbble</a></div>
<div class="linkedin"><a href="#">LinkedIn</a></div>
<div class="rss"><a href="#">Rss</a></div>-->
</div>

</div>

</div>

</div>

</div>

<div class="footer">
<div class="container">
<div class="row">
<div class="span4 text-center">
<div class="footer-widget text-left">
<!--<h4>Ostanimo u kontaktu!</h4>-->
<!-- Begin MailChimp Signup Form -->
<!--<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">-->
<!--<style type="text/css">
#mc_embed_signup{clear:left; font:14px Lucida,Helvetica,Arial,sans-serif; }
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>-->
<div id="mc_embed_signup">
<h5>Saznajte prvi kada postavimo na&scaron; novi sajt a u me&#273;uvremenu pre svih o na&scaron;im redovnim akcijama!</h5>

<form action="http://holistickamasaza.us12.list-manage.com/subscribe/post?u=aaa0d96a788e0091ef3b46bd4&amp;id=64b257f952" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form" target="_blank" novalidate="">
  <div id="mc_embed_signup_scroll">
  <div class="mc-field-group">
  <label for="mce-EMAIL">Va&scaron;a email adresa:</label>
  <input value="" name="EMAIL" class="emailsubscribe input-large email span4" id="mce-EMAIL" type="email">
  </div>

  <div id="mce-responses" class="clear">
  <div class="response" id="mce-error-response" style="display: none;"></div>

  <div class="response" id="mce-success-response" style="display: none;"></div>

  </div>
 <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;"><input name="b_aaa0d96a788e0091ef3b46bd4_64b257f952" tabindex="0" value="" type="text"></div>

  <input value="Po&scaron;alji" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info btn-medium" type="submit">
  </div>

</form>

</div>

<!--End mc_embed_signup-->
<!--<div class="subscribe">
<div class="done">
<b>Thank you !</b><br />We have received your message.
</div>
<form class="form" method="post" action="process.php">
<p>Stay tuned and don't forget Sign up for latest Updates!</p>
<input class="emailsubscribe input-large email span4" type="email" name="email" placeholder="Enter your email address" onFocus="if(!this._haschanged){this.value=''};this._haschanged=true;" />
<input class="btn btn-info btn-medium" type="submit" name="subscribe" value="Subscribe" id="submit"/>
</form>
</div>-->
</div>

</div>

<div class="span4">
<div class="footer-widget text-right">
<p></p>

<p></p>

<h4 class="text-right"><img src="images/logo2.png"></h4>

</div>

</div>

<div class="span4">
<div class="footer-widget text-right copy">
<h4></h4>

<h4>Kontakt podaci</h4>

<p>Salon za masa&#382;u <strong>Holistic</strong></p>

<p><a href="https://goo.gl/maps/mSkAiXhDpDv" target="_blank">Vi&scaron;egradska 6/1<br>

11000 Beograd</a><br>

Telefon: 011.4085547<br>

069.4085547</p>

</div>

</div>

</div>

</div>

</div>

<div class="footer-copy">
<div class="container">
<div class="row">
<div class="span12 text-center">
<div class="copy">Copyright &copy; 2015 <a href="http://www.holistickamasaza.com">Holistic</a></div>

</div>

</div>

</div>

</div>

<!-- JS
================================================== --><!-- <script type="text/javascript" src=".8.3/jquery.min.js"></script> -->
<script type="text/javascript" src="js/jquery-1.9.1.js" charset="utf-8"></script><!--<script type="text/javascript" src="js/jquery.countdown.js" charset="utf-8"></script> --><!--<script type="text/javascript" src="js/countdown.js" charset="utf-8"></script> --><!--<script type="text/javascript" src="js/flickr.js" charset="utf-8"></script> --><!--<script type="text/javascript" src="js/jflickrfeed.min.js" charset="utf-8"></script> -->
<script type="text/javascript" src="js/jquery.colorbox.js" charset="utf-8"></script>
<script type="text/javascript" src="js/supersized.3.2.7.js" charset="utf-8"></script>
<script type="text/javascript" src="js/images.js" charset="utf-8"></script>
<script type="text/javascript" src="js/form.js" charset="utf-8"></script><!--<script type="text/javascript" src="js/jquery.tweet.js" charset="utf-8"></script> -->
<script type="text/javascript" src="js/cssLoader.js" charset="utf-8"></script>












<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-69772334-1', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>
