<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>MAIN PROGRAMM</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/full-slider.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<center><img src="http://www.cobhthaighceltique.com/images-python/Python-Logo.jpg"></center>

<head>
    <meta charset="UTF-8">
    <title>THANK YOU FOR SUBMITTED QUESTION !!!</title>
</head>
<body>
    <h2 ALIGN=CENTER>THANK YOU FOR SUBMITTED QUESTION !! !!!
    <div ALIGN=CENTER>You asked a question : {{ question }}</div>
</body>
</html>